
.line {
    width: 100%;
    height: 2px;
    background-color: var(--hamburger-black);
}

.hamburger_icon { 
    height: 14px;
    width: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:none;
}